<html>

<body>
		<header class="header">
			<div class="header__inner">
				
				<h1 class="header__title">
					Security Portfolio
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
       
		<div class="projects">
		

			<a routerLink="/analyse" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Applicatie analyse
					</div>
					<div class="project_description">
						Dit document staan de security requirements, architectuur en user groups
					</div>
				</div>
			</a>

			<a href="https://drive.google.com/file/d/1oalihaF7c6Sdk0cyzg4aPOqhIIzmgY0U/view?usp=sharing" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Risk Analyse
					</div>
					<div class="project_description">
						Dit linkt naar mijn risk analyse
					</div>
				</div>
			</a>

			<a routerLink="" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Technology impact assessment
					</div>
					<div class="project_description">
						De TIA is vooral handig voor ontwikkelaars en ontwerpers te laten begrijpen welke vooroordelen ze in een systeem inbouwen. Aangezien mijn project alleen basis functies zal hebben denk ik niet dat ik veel gebruik van de TIA.
					</div>
				</div>
			</a>
	
			<a routerLink="/redblue1" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						red vs blue evenement 1
					</div>
					<div class="project_description">
						conclusie van het evenement
					</div>
				</div>
			</a>

			<a href="https://docs.google.com/document/d/12UQwkwI56M_09LspXOwPEOn5EeKgs0EfxjsmgTXeKVA/edit?usp=sharing" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Logging implementatie
					</div>
					<div class="project_description">
						Code implementatie van Logging. 
					</div>
				</div>
			</a>

			<a routerLink="/authorisatie" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Authorisatie implementatie
					</div>
					<div class="project_description">
						Code implementatie van Authenticatie/Authorisatie. 
					</div>
				</div>
			</a>
			
		</div>
		
    </div>
</body>

    </html>