<div class="content"> 
    <h1>Inleiding</h1>
    <p>In dit document wordt de CIA uitgelegd met voorbeelden. Hiernaast zullen er ook een paar Security Best Practices worden beschreven.</p>
    <h2><b> CIA </b></h2>
    <p>De CIA is een beveiligingsmodel dat gemaakt is om mensen te helpen met het maken van verschillende gedeeltes van IT beveiliging. </p>
    <P>De CIA staat voor de drie principes:</P>
    <h2><b>Confidentiality </b></h2>
    <p>Gevoelige informatie of gegevens mogen alleen aan geautoriseerde gebruikers worden gegeven. In IA wordt vertrouwelijkheid afgedwongen in een classificatiesysteem.
        Een Nederlandse overheid of leger moet bijvoorbeeld een bepaald classificatie behalen, afhankelijk van de informatie vereisingen van een functie, zoals geclassificeerd, geheim of topgeheim. Degenen met geheime toestemming hebben geen toegang tot topgeheime informatie maar diegene die toegang hebben tot topgeheime informatie hebben waarschijnlijk wel toegang tot geheim.
        De beste praktijken die worden gebruikt om confidentiality af te dwingen zijn als volgt:
        Een authenticatieproces dat ervoor zorgt dat geautoriseerde gebruikers vertrouwelijke gebruikersidentificatie en wachtwoorden krijgen toegewezen. Een ander type authenticatie is biometrie.
        Op rollen gebaseerde beveiligingsmethoden kunnen worden gebruikt om de autorisatie van de gebruiker of kijker te garanderen. Zo kunnen bijvoorbeeld categorieën worden toegewezen aan specifieke gebruikers.
        Toegangscontroles zorgen ervoor dat gebruikersacties binnen hun rollen blijven. Als een gebruiker bijvoorbeeld geautoriseerd is om gegevens te lezen maar niet te schrijven, kunnen deze worden geïntegreerd.
        </p>
    <h2><b> Integrity </b></h2>
    <p>Integrity verwijst naar methodes om ervoor te zorgen dat de gegevens echt en nauwkeurig zijn en worden beschermt tegen niet geautoriseerde wijzigingen.
        Het onderhouden van de gegevens is vereist voor informatiebeveiliging. Integriteit is een belangrijke component omdat gebruikers informatie moeten kunnen vertrouwen. Niet-vertrouwde gegevens hebben geen integriteit. Opgeslagen gegevens moeten ongewijzigd blijven binnen een informatiesysteem (IS), evenals tijdens datatransport.
        Gebeurtenissen zoals erosie van de opslag, fouten en opzettelijke gegevens of systeemschade kunnen gegevenswijzigingen veroorzaken. Hackers kunnen bijvoorbeeld schade aanrichten door systemen te infiltreren met malware waaronder Trojaanse paarden, die computersystemen inhalen, evenals wormen en virussen. Een werknemer kan bedrijfsschade veroorzaken door opzettelijk onjuiste gegevensinvoer.
        Maatregelen voor de verificatie van de gegevensintegriteit omvatten checksums en het gebruik van gegevensvergelijkingen.
        </p>
    <h2> <b>Availability </b></h2>
    <p>Availability zorgt ervoor dat de informatie op elk moment volledig toegankelijk is wanneer geautoriseerde gebruikers deze nodig hebben. Dit betekent dat alle systemen die worden gebruikt om alle gegevens op te slaan, te verwerken en te beveiligen te allen tijde correct moeten werken.
        Wanneer een systeem regelmatig niet functioneert, wordt de beschikbaarheid van informatie aangetast en heeft dit aanzienlijke gevolgen voor gebruikers. Wanneer gegevens niet veilig en gemakkelijk beschikbaar zijn, wordt de informatiebeveiliging bovendien aangetast. Een andere factor die de beschikbaarheid beïnvloedt, is de tijd. Als een computersysteem informatie niet efficiënt kan leveren, komt de beschikbaarheid in gevaar.
        De beschikbaarheid van gegevens moet worden gegarandeerd door opslag, die lokaal of op een externe locatie kan zijn. Informatie moet te allen tijde beschikbaar zijn voor degenen met toestemming.
        </p>    
</div>