<html>

<body>
		<header class="header">
			<div class="header__inner">
				
				<h1 class="header__title">
					Security Portfolio
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
       
		<div class="projects">

			<a routerLink="/leerplanning" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="leerplan">
					<div class="project_title">
						leerplan
					</div>
					<div class="project_description">
						In dit leerplan staat de planning en de doelen die ik dit semester wil bereiken.
					</div>
				</div>
            </a>
			<a routerLink="/analyse" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Applicatie analyse
					</div>
					<div class="project_description">
						Dit document staan de security requirements, architectuur en user groups
					</div>
				</div>
			</a>
			<a routerLink="/implementatie" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
					 implementaties
					</div>
					<div class="project_description">
						Alle beveiligingsimplementaties.
					</div>
				</div>
			</a>
			<a routerLink="/redblue1" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						red vs blue evenement 1
					</div>
					<div class="project_description">
						conclusie van het evenement
					</div>
				</div>
			</a>

			<a routerLink="/personalresearch" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Onderzoek
					</div>
					<div class="project_description">
						Hierin staat al het onderzoek met conclusie hoe ik het zal implimenteren
					</div>
				</div>
			</a>
			
			<a routerLink="/personalanalyse" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Opdrachten
					</div>
					<div class="project_description">
						Hierin staan alle opdrachten.
					</div>
				</div>
			</a>
						
		</div>
		
    </div>
</body>

    </html>