<html>

<body>
		<header class="header">
			<div class="header__inner">
				
				<h1 class="header__title">
					Security Portfolio
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
       
		<div class="projects">
		
			<a routerLink="/seworkshop" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Workshop Security engineering pt1.
					</div>
					<div class="project_description">
						In dit workshop staat de SDL en NSIT uitgelegd.
					</div>
				</div>
			</a>
			
			<a routerLink="/analyse" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Applicatie analyse
					</div>
					<div class="project_description">
						Dit document staan de security requirements, architectuur en user groups
					</div>
				</div>
			</a>
			
			<a routerLink="/xss" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Xss Onderzoek
					</div>
					<div class="project_description">
						Onderzoek richting XSS
					</div>
				</div>
			</a>
			
			<a routerLink="/logging" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Logging onderzoek
					</div>
					<div class="project_description">
						Onderzoek over Logging met uitleg en voorbeelden
					</div>
				</div>
            </a>
        
			
			
			
		</div>
		
    </div>
</body>

    </html>