<body class="body"> 
<div class="content">

<h1>Rollen</h1>
<p>Aan het eind van sprint 0, tijdens het retroperspectief, kwamen we erachter dat niet iedereen een vaste rol had. Hieruit hebben we toen de volgende rollen gemaakt:</p>
<ul class="menu">
    
    <li>
      <p style="margin: 0px;"> Scrumboard master (Youri)</p> 
        <ul class="inside">
            <li><p style="margin: 0px;">Houd van iedereen bij wat ie aan het doen is. </p> </li>
            <li><p style="margin: 0px;">Zorgt ervoor dat het scrumboard in orde is.</p></li>
        </ul>
    </li>
    <li>
        <p style="margin: 0px;"> Communicatie master (Thomas)</p> 
          <ul class="inside">
              <li><p style="margin: 0px;">Alle documentatie dat moet worden verstuurd stuurt de communicatie master. </p> </li>
              <li><p style="margin: 0px;">Dubbel Checkt alle documenten voor het versturen.</p></li>
              <li><p style="margin: 0px;">Is de contactpersoon</p></li>
          </ul>
      </li>
      <li>
        <p style="margin: 0px;">Discussie master (Alexander)</p> 
          <ul class="inside">
              <li><p style="margin: 0px;">Is er bij alle discussies bij.</p> </li>
              <li><p style="margin: 0px;">Als een discussie te lang duurt hakt hij de knoop door.</p></li>
          </ul>
      </li>
      <li>
        <p style="margin: 0px;">Break master (Roel)</p> 
          <ul class="inside">
              <li><p style="margin: 0px;">Houdt bij wanneer iedereen pauze houdt.</p> </li>
              <li><p style="margin: 0px;">Zorgt ervoor dat iedereen door blijft werken.</p></li>
              <li><p style="margin: 0px;">Als concentratie wegvalt kan pauze vroeger inlassen.</p> </li>
              <li><p style="margin: 0px;">Zegt wanneer pauze begint en eindigt.</p></li>
          </ul>
      </li>
      <li>
        <p style="margin: 0px;">Presentatie master (Kristian)</p> 
          <ul class="inside">
              <li><p style="margin: 0px;">Werkt mee aan powerpoint.</p> </li>
              <li><p style="margin: 0px;">Is verantwoordelijk voor de eindsprint.</p></li>
              <li><p style="margin: 0px;">Het versturen van alle belangrijke informatie voor de sprint.</p></li>
          </ul>
      </li>
      <li>
        <p style="margin: 0px;">Teambuilding master (Michel) </p> 
          <ul class="inside">
              <li><p style="margin: 0px;">Is verantwoordelijk voor de teambuilding.</p> </li>
              <li><p style="margin: 0px;">Maakt evenementen voor de groep.</p></li>
              <li><p style="margin: 0px;">Maakt afspraken voor teambuilding.</p></li>
          </ul>
      </li>
 </ul>
 
 <h3 style="margin-bottom: 0px;">Scrumboard Master</h3>
 <p style="margin-top: 0px;">Youri was de scrumboard master vanaf sprint 1. Hij hield hield bezig wie wat aan het doen was. Daarnaast checkte hij ook of je het werk al af had of niet en veranderde dan de scrumstatus van de opdracht. Hij zorgde er ook voor dat het scrumboard overzichtelijk was en als er veranderingen kwamen dat die meteen te zien waren op het scrumboard.</p>

 <h3 style="margin-bottom: 0px;">Communicatie Master</h3>
 <p style="margin-top: 0px;">Thomas was de documentatie master. Hij was vanaf sprint 1 de contactpersoon. Hij zorgde ervoor dat de mails werden verstuurd en vertelde ons wat er in de terruggestuurde mails stonden. Ook was thomas degene die alle documentatie opleverde. Dit hield in dat hij elk document het opnieuw bekeek voor fouten. Vaak deed hij dit met iemand anders erbij. Thomas was hier goed in. </p>
 
 <h3 style="margin-bottom: 0px;">Break master</h3>
 <p style="margin-top: 0px;"> Ik was de Break master vanaf sprint 1. Het was mijn baan om een pauze in te lasten als de concentratie van iedereen wegviel. Daarnaast hield ik ook bij wie te lang pauze hield en besprak dat dan met de persoon. Ik hield ook in de gaten wanneer iemand te afgeleid raakten. Als dit gebeurde sprak ik ze aan en vroeg ik of ze weer door konden gaan met werken. </p>  

 <h3 style="margin-bottom: 0px;">Presentatie master</h3>
 <p style="margin-top: 0px;">Kristian was de presentatie master. Hij was verantwoordelijk voor de eindsprint. Dit hield in dat hij koos wat er zou worden besproken tijdens de presentaties, Hoe het zou worden besproken en welke documenten zouden moeten worden ingeleverd voor de sprint. Daarnaast was hij ook verantwoordelijk voor het versturen van informatie voor een sprint zodat iedereen wist wat er zou worden besproken. Als presentatie master werkte Kristian veel samen met de communicatie master Thomas. </p>

 <h3 style="margin-bottom: 0px;">Teambuilding master</h3>
 <p style="margin-top: 0px;">Michel was gekozen als Teambuilding master. Hij zorgde ervoor dat we soms tijdens de pauze iets samen deden. Dit kon onder andere zijn: Koffie met zijn alle halen, spellen spelen of het gebouw verkennen. Hij was ook verantwoordelijk om ervoor te zorgen dat er een goede werksfeer was. Dit heeft Michel door de sprints gedaan waardoor iedereen elkaar beter kent.</p>

 <h3 style="margin-bottom: 0px;">Discussie master</h3>
 <p style="margin-top: 0px;"> Alexander was gekozen als discussie master. Hij was bij de belangrijke discussies diegene die de knoop doorhakte als we te lang over
     een onderwerp bezig waren. Dit was om ervoor te zorgen dat we niet teveel tijd verspilde. Dit heeft hij erg goed gedaan tijdens sprint 2 en 3. </p>

     <p><br><br><br><br><br><br><br></p>
</div>


</body>