<body class="body"> 
<div class="content">
<h1>Applicatie </h1>
<p>In dit document zal de algemene beschrijving staan rondom beveiliging.  </p>

<h1>Permission</h1>
<p>Ik heb per role gekeken wat die rol wel en niet mag doen. Elke rol mag bepaalde dingen wel en niet doen. Hieronder gelden bepaalde funtionaliteiten </p>
<p style="margin-bottom: 0px;"><i>C = create, R = Read, U = update, D = delete, Y = yes, N = no</i></p>
<table style="margin-top: 0px; margin-bottom: 0px;" >
    <tr>
        <td >
            <p >Data asset</p>
        </td>
        <td >
            <p >Visitor</p>
        </td>
        <td >
            <p >Writer</p>
        </td>
        <td>
            <p >Admin</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Account Information</p>
        </td>
        <td >
            <p >R</p>
        </td>
        <td >
            <p >CRU</p>
        </td>
        <td >
            <p >CRUD</p>
        </td>
    </tr>
    <tr>
        <td>
            <p >Story Information</p>
        </td>
        <td >
            <p >R</p>
        </td>
        <td >
            <p >CRUD</p>
        </td>
        <td >
            <p >RUD</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Comment Info</p>
        </td>
        <td >
            <p >R</p>
        </td>
        <td >
            <p >CRU</p>
        </td>
        <td >
            <p >CRUD</p>
        </td>
    </tr>
    <tr>
        <td> 
            <p ></p>
        </td>
        <td >
            <p ></p>
        </td>
        <td >
            <p ></p>
        </td>
        <td >
            <p ></p>
        </td>
    </tr>
    <tr>
        <td>
            <p >Functionaliteiten</p>
        </td>
        <td >
            <p ></p>
        </td>
        <td >
            <p ></p>
        </td>
        <td >
            <p ></p>
        </td>
    </tr>
    <tr>
        <td>
            <p >Gebruiker registreren</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <tr>
            <td> 
                <p >Gebruiker verwijderen</p>
            </td>
            <td >
                <p >N</p>
            </td>
            <td >
                <p >N</p>
            </td>
            <td >
                <p >Y</p>
            </td>
        </tr>
    <tr>
        <td> 
            <p >Gebruiker bijwerken</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >Y</p>
        </td>
    </tr>
    <tr>
        <td> 
            <p >Inloggen</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >N</p>
        </td>
    </tr>
   
    <tr>
        <td> 
            <p >Verhaal lezen</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >Y</p>
        </td>
    </tr>
    <tr>
        <td> 
            <p >Verhaal aanmaken</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >N</p>
        </td>
    </tr>
    <tr>
        <td> 
            <p >Verhaal bijwerken</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >Y</p>
        </td>
    </tr>
    <tr>
        <td> 
            <p >Verhaal verwijderen</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
        <td >
            <p >Y</p>
        </td>
    </tr>
  
    <tr>
        <td> 
            <p >Administrator aanmaken</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >N</p>
        </td>
        <td >
            <p >Y</p>
        </td>
    </tr>
</table>
<br>

<p style="margin-top: 0px;"><b>Visitor </b> <br> 
Account information <br>
Een visitor heeft zelf geen account informatie. Het is wel mogelijk om andere profielen te bekijken. Dan krijgt hij informatie te zien zoals hoeveel verhalen het profiel heeft geschreven of hoeveel comments deze heeft.

<br><br>
Story information <br>
Een visitor kan alleen verhalen bekijken. Verder kan hij niks anders doen. 
<br>
<br>

Comment Info <br>
Een visitor kan alleen comments van andere lezen. Hij kan verder er niks mee doen.
<br>
<br>
Functionaliteiten <br>
 Een visitor kan een normale gebruiker aanmaken. Hierdoor zal hij toegang krijgen tot meer functionaliteiten. <br>
 Een visitor kan niks van een gebruiker aanpassen. Dit komt omdat de visitor geen account heeft. <br>
 Een visitor kan geen account verwijderen aangezien hij daar niet de permissies voor heeft. <br>
 Een visitor kan inloggen op een account. <br>
 Een visitor kan een verhaal doorlezen om te kijken uit interesse. <br>
 Een visitor kan niks van een verhaal aanpassen aangezien een visitor geen account heeft met een Role. <br>
 Een visitor kan geen verhaal verwijderen.<br>
 Een visitor mag zelf geen verhalen schrijven omdat hij niet ingelogd is. <br>
 <br>
 <p style="margin-top: 0px;"><b>Writer </b> <br> 
    Account information <br>
    Een Writer heeft zelf  account informatie. Het is wel zijn eigen profiel of dat vane profielen te bekijken.
     Dan krijgt hij informatie te zien zoals hoeveel verhalen het profiel heeft geschreven of hoeveel comments deze heeft. Hij kan daarnaast zijn eigen account informatie aanpassen.
    
    <br><br>
    Story information <br>
    Een writer kan verhalen bekijken, zelf aanmaken en eigen verhaal zelf ook aanpassen.
    <br>
    <br>
    
    Comment information <br>
    Een Writer kan kan comments neerzetten, zijn eigen comments updaten en verwijderen. Daarnaast is het ook mogelijk om comments van andere te lezen.
    <br>
    <br>
    Functionaliteiten <br>
     Een writer kan geen gebruikers aanmaken. Das niet de bedoeling van de writer role.  <br>
     Een writer kan zijn eigen account aanpassen waaronder gebruikersnaam en beschrijving. <br>
     Een writer kan geen account verwijderen aangezien hij daar niet de permissies voor heeft. <br>
     Een writer kan niet inloggen op een account. Hij is al ingelogd. <br>
     Een writer kan een verhaal doorlezen om te kijken uit interesse. <br>
     Een writer kan een verhaal aanpassen als hij het zelf heeft geschreven. Dit is om te voorkomen dat een writer andermans verhalen gaat aanpassen <br>
     Een writer kan zijn eigen verhalen verwijderen.Dit is om te voorkomen dat een writer andermans verhalen verwijderd.<br>
     Een writer mag zelf verhalen schrijven. Dit is de core functie van een writer <br>
     <br>
     <br>
</p>
<p style="margin-top: 0px;"><b>Admin </b> <br> 
    Account information <br>
    Een Admin kan een account aanmaken. Hij kan een role naar dit account toekennen: Gebruiker of Admin. Dit is om meerdere admins te kunnen maken. Ook is het mogelijk voor een admin om een account te verwijderen. Dit is om accounts te verwijderen die de regels hebben gebroken of omdat een ander Admin account niet meer wordt gebruikt.
    Een account kan alle informatie van een account lezen. Dit is om te kijken of het account mogelijk regels overtreed. Mocht dit het geval zijn kan hij ook de account informatie aanpassen. Een admin kan echter nooit een wachtwoord of email veranderen. <br>
    
    <br>
    Story information <br>
    Wanneer het aankomt op story informatie kan een admin een verhaal lezen om te kijken of het geen regels verbreekt, mogelijk het verhaal aanpassen en als het echt moet een verhaal verwijderen. <br>  
    <br>
    
    Comment Info <br>
    Een administrator kan een comment plaatsen op een verhaal. Dit is mogelijk om feedback te geven of om te zeggen dat hij het verhaal leuk vond. Dit is vooral voor interactie. Een admin kan ook comments lezen om te kijken of ze regels verbreken. Hij kan ook zijn eigen comments aanpassen maar NIET dat van anderen. Dit is om ervoor te zorgen dat een fraudulent administrator niet nep bewijs kan creeëren.
    Het is echter wel mogelijk voor een administrator om een comment te verwijderen dat racistisch is. 
    <br>
    <br>
    Functionaliteiten <br>
     Een administrator kan geen normale gebruikers aanmaken. Dit zou niet nodig moeten zijn aangezien iedereen een account zou moeten kunnen aanmaken. <br>
     Een administrator kan de descriptie en naam van een andere gebruiker aanpassen mochten deze de regels verbreken. <br>
     Een administrator kan een gebruiker verwijderen als deze meerdere keren de regels heeft verbroken of als een administrator account niet meer wordt gebruikt. <br>
     Een administrator kan niet twee keer inloggen <br>
     Een administrator kan een verhaal doorlezen om te kijken of er mogelijk problemen zijn. <br>
     Een administrator kan een verhaal aanpassen mocht deze de regels verbreken. <br>
     Een administrator kan een verhaal verwijderen als deze de regels verbreekt. <br>
     Een administrator mag zelf geen verhalen schrijven. Het doel van een administrator is om verhalen te checken, niet om deze zelf op te schrijven. <br>
    
    
    
    </p>

<div id="misuse">
<h1>Wat is het doel van de applicatie</h1>
</div>
<p>Van elke functionaliteit heb ik bescjreven wat iemand kan doen om om mijn applicatie te misbruiken.
    Ik heb hiervoor oplossingen beschreven in de rechthoeken. De kraaien poten wil zeggen dat alles wat hiermee te maken heeft wordt meegenomen in het ontwerp</p>
<img src="../../../../assets/img/misuse.PNG">
<p>Het doel is om een veilige applicatie te maken die aan de beveiliging voldoet en daarnaast een openbare omgeving geeft om je mening etc te geven. Ook zal deze applicatie worden gebruikt voor red en blue teamers om hun vaardigheden te testen. </p>
<h1>User groups</h1>
<p>Hieronder zullen alle user groups staan. Het is mogelijk dat deze over tijd veranderen.</p>
<table>
    <tr>
        <th>Usergroups</th>
        <th>Red Teamers</th>
        <th>Blue Teamers</th>
        <th>Visitor</th>
        <th>Writer</th>
        <th>Admin</th>
      </tr>
      <tr>
        <td>beschrijving</td>
        <td>Hackers die de applicatie zullen testen.</td>
        <td>Beveiligers die de applicatie zullen beschermen tijdens een hacking aanval</td>
        <td>Gebruikers die de site gebruiken om verhalen te lezen en om berichten te plaatsen.</td>
        <td>Gebruikers die de site gebruiken om hun verhalen te plaatsen.</td>
        <td>Administratie zorgt ervoor dat onder andere racistische of seksuele verhalen van de site worden gehaald.</td>
      </tr>
</table>

<h1>Risico analyse</h1>
<p>In dit hoofdstuk zal worden de risico's beschreven en uitgelegd. Eerst zullen de waardes worden uitgelegd die worden gebruikt.</p>
<div style="display: flex;">
<table style="width: 45%; margin-top: 0px; margin-bottom: 0px;" >
    <tr>
        <td >
            <p >Impact level</p>
        </td>
        <td >
            <p >Description</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >5. Very High</p>
        </td>
        <td >
            <p >an event that has serious impact on the business and business results.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >4. High</p>
        </td>
        <td >
            <p >an event that has significant impact on the business results dropping below any minimally acceptable level.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >3. Medium</p>
        </td>
        <td >
            <p >an event that has significant impact on the business results dropping below desired level but staying above minimally acceptable level.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >2. Low</p>
        </td>
        <td >
            <p >an event that has little impact on the business and business results.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >1. Neglictible</p>
        </td>
        <td >
            <p >an event that has little impact on the business and business results..</p>
        </td>
    </tr>
</table>
<table style="width: 45%; margin-left: 10px; margin-top: 0px; margin-bottom: 0px;" >
    <tr>
        <td >
            <p >Probability</p>
        </td>
        <td >
            <p >Description</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >3. High</p>
        </td>
        <td >
            <p >It is likely that the event occurs the coming year.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >2. Medium</p>
        </td>
        <td >
            <p >Chances are not high but possible that the event occurs the coming year.</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >1. Low</p>
        </td>
        <td >
            <p> It is unlikely that the event occurs the coming year. </p>
        </td>
    </tr>
  
</table>
</div>

<p>In het table hieronder staan de bedreigingen met de classificaties. De beredenering hiervoor zal eronder staan. De security control level wordt berekent door Impact level * Probability. Een voorbeeld zou zijn een High Impact en een Low Probability: 4 * 1 = 4. </p>
<table class="sides-open-table">
    <tbody>
        <tr height="38">
            <td height="38" width="139">
                1. Threat
            </td>
            <td width="268">
                <a name="RANGE!C3">2. impact description</a>
            </td>
            <td width="192">
                <a name="RANGE!D3">3. impact level</a>
            </td>
            <td width="199">
                <a name="RANGE!E3">4. probability</a>
            </td>
            <td class="lastTd" width="144">
                <a name="RANGE!F3">5. level security controls</a>
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="139">
                DDoS
            </td>
            <td width="268">
                Downtime of the application
            </td>
            <td width="192">
                Low
            </td>
            <td width="199">
                High
            </td>
            <td class="lastTd" width="144">
                6
            </td>
        </tr>
        <tr height="38">
            <td height="38" width="139">
                Scriptkiddies, Opportunists
            </td>
            <td width="268">
                Small security issues can be found
            </td>
            <td width="192">
                Medium
            </td>
            <td width="199">
                Medium
            </td>
            <td class="lastTd" width="144">
                6
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="139">
                Malware infection
            </td>
            <td width="268">
                Incident handling costs
            </td>
            <td width="192">
                High
            </td>
            <td width="199">
                Medium
            </td>
            <td class="lastTd" width="144">
                8
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="139">
                Phishing
            </td>
            <td width="268">
                Incident handling costs
            </td>
            <td width="192">
                Medium
            </td>
            <td width="199">
                Medium
            </td>
            <td class="lastTd" width="144">
                6
            </td>
        </tr>
        <tr height="38">
            <td height="38" width="139">
                Data breach personal data
            </td>
            <td width="268">
                Customer, reputation damage
            </td>
            <td width="192">
                High
            </td>
            <td width="199">
                Medium
            </td>
            <td class="lastTd" width="144">
                8
            </td>
        </tr>
        <tr height="38">
            <td height="38" width="139">
                Stealing confidential business data
            </td>
            <td width="268">
                Incident handling costs, Financial damage
            </td>
            <td width="192">
                Low
            </td>
            <td width="199">
                Low
            </td>
            <td class="lastTd" width="144">
                2
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="139">
                Hacktivists
            </td>
            <td width="268">
                Customer damage, company image
            </td>
            <td width="192">
                Medium
            </td>
            <td width="199">
                Low
            </td>
            <td class="lastTd" width="144">
                3
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="139">
                State actors
            </td>
            <td width="268">
                Reputation damage, Fines, Downtime
            </td>
            <td width="192">
                Medium
            </td>
            <td width="199">
                Low
            </td>
            <td class="lastTd" width="144">
                3
            </td>
        </tr>
        <tr id="lastTr" height="38">
            <td height="38" width="139">
                Fraudulent employee
            </td>
            <td>
                Company image, Customer damage
            </td>
            <td width="192">
                Medium
            </td>
            <td width="199">
                Low
            </td>
            <td class="lastTd" width="144">
                3
            </td>
        </tr>
    </tbody>
</table>

<p> <b>DDoS </b> <br>
 Het DDos van mijn applicatie zal naar alle waarschijnlijkheid vaak kunnen gebeuren. Dit heeft echter een niet te grootte impact aangezien het alleen inhoudt dat mijn applicatie tijdelijk niet bereikbaar zou zijn. Mogelijke oplossingen om tegen DDoS te gaan is Captcha, het buitensluiten van ip-adressen dat tevaak voorkomt en een IPS.

</p>
<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
                Herstarten, legale actie ondernemen
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
                Teveel requests blokkeren
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
                CAPTCHA
            </td>
            <td width="191">
                Bron zoeken, Bron buitensluiten
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
                Logging
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
                Teveel requests blokkeren
            </td>
            <td colspan="2" width="200">
                Detection with IPS
            </td>
            <td width="193">
                Blocking when having to many requests
            </td>
            <td width="191">
                Buitensluiten ip adres
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
    </tbody>
</table>
<p>
 <b>Script Kiddies </b> <br>
    Het is mogelijk dat Script Kiddies fouten vinden in de applicatie en de impact hiervoor zal dus best groot zijn. De reden hiervoor is omdat de code dan moet worden verbeterd en dit kan tijd kosten. Mogelijke oplossingen tegen script kiddies zijn: Logging en het toepassen van alle OWASP preventie maatregelen.
 
</p>
<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
                Blue-team	
            </td>
            <td width="193">
            </td>
            <td width="191">
                bron vinden en mogelijk legale actie ondernemen     </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
                Responsible disclosure
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
                Owasp top 10 preventie maatregelen
            </td>
            <td colspan="2" width="200">
                Logging	
            </td>
            <td width="193">
                
            </td>
            <td width="191">
                Account/bron buitensluiten
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
                Logging
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
                IPS
            </td>
            <td colspan="2" width="200">
               IDS
            </td>
            <td width="193">
               
            </td>
            <td width="191">
                Buitensluiten ip adres
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <b>Malware Infection </b> <br>
    Malware infection zou een hoge impact hebben op de applicatie. Naar alle waarschijnlijkheid zou er een back-up moeten worden gebruikt waardoor we veel informatie zouden verliezen. De kans dat dit echter zou gebeuren zou vrij klein zijn aangezien we alleen sources gebruiken en installeren die gechecked zijn.  Mogelijke oplossingen voor malware is Security awareness, Isolerende shells, Firewall, Virus Scanners gebruiken en systemen scannen om de zoveel tijd.

</p>

<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
                Security Awareness
            </td>
            <td colspan="2" width="200">
                Blue-team	
            </td>
            <td width="193">
                Geïnfecteerde systemen isoleren 
            </td>
            <td width="191">
                Fixen van systeem of vervangen        </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
               
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
                Onderzoeken hoe het is gebeurd
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
                Isolerende shells
            </td>
            <td colspan="2" width="200">
               
            </td>
            <td width="193">
                
            </td>
            <td width="191">
                
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
                Virus scanner
            </td>
            <td colspan="2" width="200">
                Virus scanner
            </td>
            <td width="193">
                Bestand in Quarantaine plaatsen
            </td>
            <td width="191">
                Systeemscan
            </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
                Firewall
            </td>
            <td colspan="2" width="200">
               IDS
            </td>
            <td width="193">
               
            </td>
            <td width="191">
                Alle systemen scannen
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
                Computers locken, Systemen achter gesloten deur
            </td>
            <td colspan="2" width="200">
                Camera's en alarmen	
            </td>
            <td width="193">
                Politie bellen
            </td>
            <td width="191">
                Beveiliging verbeteren
            </td>
        </tr>
    </tbody>
</table>
<p>
    <b>Phishing </b> <br>
    Phishing heeft een grote kans om te worden gebruikt maar de impact level zou vrij laag zijn. Oplossingen hiervoor zijn spamfilters en security awareness.

</p>
<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
                Security Awareness
            </td>
            <td colspan="2" width="200">
                Blue-team	
            </td>
            <td width="193">
                Security waarschuwing
            </td>
            <td width="191">
              </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
                Dubbel checken
            </td>
            <td colspan="2" width="200">
                Dubbel checken
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
            </td>
            <td colspan="2" width="200">
               </td>
            <td width="193">
                
            </td>
            <td width="191">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
                spamfilters
            </td>
            <td colspan="2" width="200">
               
            </td>
            <td width="193">
            </td>
            <td width="191">
                spamfilters
            </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
                
            </td>
            <td colspan="2" width="200">
              
            </td>
            <td width="193">
                Gelekte accounts verwijderen  
            </td>
            <td width="191">
                
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <b>Data breach personal data </b> <br>
   De impact hiervan zou erg groot zijn. De site zou worden gezien als onveilig en veel klanten zullen dan naar alle waarschijnlijkheid vertrekken. Om dit te voorkomen is het belangrijk dat authorisatie goed wordt toegepast, dat alle data dat moet worden geencrypt goed geencrypt is en dat de database op een goede manier is beveiligd met de daarbij horende permissies.

</p>
<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
              
            </td>
            <td colspan="2" width="200">
                Blue-team	
            </td>
            <td width="193">
                Email sturen naar alle klanten dat er een databreach is geweest   </td>
            <td width="191">
                     </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
                Niemand toegang geven tot de productie database, Responsible Disclosure/bug bounty
            </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
            </td>
            <td width="191">
                Informeren bij Data Protection Office </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
                Goed security implementeren, OWASP top10	
            </td>
            <td colspan="2" width="200">
                Elk request richting DB loggen	      </td>
            <td width="193">
                Applicatie (tijdelijk) zo snel mogelijk offline halen  
            </td>
            <td width="191">
                Applicatieproblemen fixen  
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
                Data encrypted opslaan via een up-to-date encryptie
            </td>
            <td colspan="2" width="200">
                
            </td>
            <td width="193">
            </td>
            <td width="191">
                </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
                CORS policy
            </td>
            <td colspan="2" width="200">
               IDS
            </td>
            <td width="193">
               
            </td>
            <td width="191">
              
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
                Server rooms opslot
            </td>
            <td colspan="2" width="200">
              
            </td>
            <td width="193">
                
            </td>
            <td width="191">
               
            </td>
        </tr>
    </tbody>
</table>
<p>   
<b>Stealing confidential business data </b> <br>
    De impact hiervan zou erg laag zijn. De confidential business data zou niet al te belangrijk zijn en zal er hooguit voor zorgen dat nieuwe features worden geleaked. Om hier echter tegen te gaan is het belangrijk om alleen mensen met de clearance level toegang kunnen krijgen tot de business data en dat dit alleen gebeurd als het echt nodig is .

    </p>
    <table class="sides-open-table">
        <tbody>
            <tr height="20">
                <td style="border: none;" height="20" width="192">
                </td>
                <td style="border: none;" colspan="5" width="759">
                </td>
            </tr>
            <tr height="21">
                <td style="border-bottom: none;" height="21" width="192">
                </td>
                <td rowspan="2" width="175">
                    Preventive
                </td>
                <td colspan="2" rowspan="2" width="200">
                    Detective
                </td>
                <td rowspan="2" width="193">
                    Repressive
                </td>
                <td rowspan="2" width="191">
                    Corrective
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Human level
                </td>
                <td width="175">
                    Security Awareness
                </td>
                <td colspan="2" width="200">
                   
                </td>
                <td width="193">
                    Aangifte doen  </td>
                <td width="191">
                         </tr>
            <tr height="21">
                <td height="21" width="192">
                    Organisation Level
                </td>
                <td width="175">
                    Geen toegang geven tot de business data tenzij het echt nodig is    </td>
                <td colspan="2" width="200">
                </td>
                <td width="193">
                </td>
                <td width="191">
                    Informeren bij Data Protection Office </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Application Level
                </td>
                <td>
                    Alle data encrypten wat verstuurd word over netwerken            </td>
                <td colspan="2" width="200">
                   	      </td>
                <td width="193">
                   
                </td>
                <td width="191">
                  
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    System Level
                </td>
                <td width="175">
                    User privileges   
                 </td>
                <td colspan="2" width="200">
                    Loggen wie welke files opvraagt	  
                </td>
                <td width="193">
                </td>
                <td width="191">
                    </td>
            </tr>
            <tr height="42">
                <td height="42" width="192">
                    Network Level
                </td>
                <td>
                    Computers locken, Systemen achter gesloten deur. Documenten in een kluis stoppen.
                </td>
                <td colspan="2" width="200">
                    Camera's en alarmen	
                </td>
                <td width="193">
                    Politie bellen
                </td>
                <td width="191">
                    Beveiliging verbeteren
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Buildings and grounds
                </td>
                <td width="175">
                    Server rooms opslot
                </td>
                <td colspan="2" width="200">
                  
                </td>
                <td width="193">
                    
                </td>
                <td width="191">
                   
                </td>
            </tr>
        </tbody>
    </table>
    <p>
    <b>Hacktivists </b> <br>
     De impact hiervan zou medium zijn. Tenzij ze toegang zouden kunnen krijgen tot de database zouden ze niet veel schade kunnen toepassen. De kans dat dit echter zou gebeuren zal erg laag zijn aangezien de site geen politieke standpunten zou moeten nemen.
    </p>
    <table class="sides-open-table">
        <tbody>
            <tr height="20">
                <td style="border: none;" height="20" width="192">
                </td>
                <td style="border: none;" colspan="5" width="759">
                </td>
            </tr>
            <tr height="21">
                <td style="border-bottom: none;" height="21" width="192">
                </td>
                <td rowspan="2" width="175">
                    Preventive
                </td>
                <td colspan="2" rowspan="2" width="200">
                    Detective
                </td>
                <td rowspan="2" width="193">
                    Repressive
                </td>
                <td rowspan="2" width="191">
                    Corrective
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Human level
                </td>
                <td width="175">
                    
                </td>
                <td colspan="2" width="200">
                   Blue team
                </td>
                <td width="193">
                   
                </td>
                <td width="191">
                
                </tr>
            <tr height="21">
                <td height="21" width="192">
                    Organisation Level
                </td>
                <td width="175">
                   
                  </td>
                <td colspan="2" width="200">
                </td>
                <td width="193">
                </td>
                <td width="191">
                    Sancties of aangifte tegen aanvallende land, Informeren bij Data Protection Office
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Application Level
                </td>
                <td>
                    Security implementeren, Vulnerability scans met tools, Authenticatie nodig voor DB interactie    <td colspan="2" width="200">
                </td>
                <td width="193">
                   
                </td>
                <td width="191">
                    Bug fixes toevoegen in het ontwikkelproces met hoge prioriteit
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    System Level
                </td>
                <td width="175">
                    standaard security maatregelen nemen  
                 </td>
                <td colspan="2" width="200">
                    API request monitoring (als van toepassing)	
                </td>
                <td width="193">
                </td>
                <td width="191">
                    </td>
            </tr>
            <tr height="42">
                <td height="42" width="192">
                    Network Level
                </td>
                <td>
                    standaard security maatregelen nemen
                             </td>
                <td colspan="2" width="200">
                   IDS
                </td>
                <td width="193">
                    IPS
                </td>
                <td width="191">
                    
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Buildings and grounds
                </td>
                <td width="175">
                    Computers locken, Systemen achter gesloten deur
                </td>
                <td colspan="2" width="200">
                    Camera's en alarmen	
                </td>
                <td width="193">
                    Politie bellen 
                </td>
                <td width="191">
                   
                </td>
            </tr>
        </tbody>
    </table>
    <p>  
    <b>State Actors </b> <br>
      De impact hiervan zou medium zijn. Tenzij ze toegang zouden kunnen krijgen tot de database zouden ze niet veel schade kunnen toepassen. De kans dat dit echter zou gebeuren zal erg laag zijn aangezien de site niks met de regering te maken zou moeten hebben.   <br>
       
    </p>
    <table class="sides-open-table">
        <tbody>
            <tr height="20">
                <td style="border: none;" height="20" width="192">
                </td>
                <td style="border: none;" colspan="5" width="759">
                </td>
            </tr>
            <tr height="21">
                <td style="border-bottom: none;" height="21" width="192">
                </td>
                <td rowspan="2" width="175">
                    Preventive
                </td>
                <td colspan="2" rowspan="2" width="200">
                    Detective
                </td>
                <td rowspan="2" width="193">
                    Repressive
                </td>
                <td rowspan="2" width="191">
                    Corrective
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Human level
                </td>
                <td width="175">
                    Awareness
                </td>
                <td colspan="2" width="200">
                   Blue team
                </td>
                <td width="193">
                   
                </td>
                <td width="191">
                
                </tr>
            <tr height="21">
                <td height="21" width="192">
                    Organisation Level
                </td>
                <td width="175">
                    Voldoen aan wetgeving
                  </td>
                <td colspan="2" width="200">
                </td>
                <td width="193">
                </td>
                <td width="191">
                    Sancties of aangifte tegen aanvallende land, Informeren bij Data Protection Office
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Application Level
                </td>
                <td>
                    Security implementeren, Vulnerability scans met tools, Authenticatie nodig voor DB interactie    <td colspan="2" width="200">
                </td>
                <td width="193">
                   
                </td>
                <td width="191">
                  
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    System Level
                </td>
                <td width="175">
                    standaard security maatregelen nemen   
                 </td>
                <td colspan="2" width="200">
                    
                </td>
                <td width="193">
                </td>
                <td width="191">
                    </td>
            </tr>
            <tr height="42">
                <td height="42" width="192">
                    Network Level
                </td>
                <td>
                    Beveiliging (draadloos) intern netwerk              </td>
                <td colspan="2" width="200">
                   
                </td>
                <td width="193">
                    IPS
                </td>
                <td width="191">
                    
                </td>
            </tr>
            <tr height="21">
                <td height="21" width="192">
                    Buildings and grounds
                </td>
                <td width="175">
                    Access control
                </td>
                <td colspan="2" width="200">
                  
                </td>
                <td width="193">
                    Politie bellen 
                </td>
                <td width="191">
                   
                </td>
            </tr>
        </tbody>
    </table>
  
    <p>
       <b>Fraudulent employee </b> <br>
       De impact hiervan zou medium zijn. Als een administrator plotseling dingen zou verwijderen zou dat voor problemen kunnen zorgen. Om deze reden zou er altijd een tweede admin zijn toestemming moeten geven voor het verwijderen of aanpassen van content. Daarnaast zouden ook alle acties moeten worden gelogd.
</p>
<table class="sides-open-table">
    <tbody>
        <tr height="20">
            <td style="border: none;" height="20" width="192">
            </td>
            <td style="border: none;" colspan="5" width="759">
            </td>
        </tr>
        <tr height="21">
            <td style="border-bottom: none;" height="21" width="192">
            </td>
            <td rowspan="2" width="175">
                Preventive
            </td>
            <td colspan="2" rowspan="2" width="200">
                Detective
            </td>
            <td rowspan="2" width="193">
                Repressive
            </td>
            <td rowspan="2" width="191">
                Corrective
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Human level
            </td>
            <td width="175">
               
            </td>
            <td colspan="2" width="200">
                Vreemd gedrag notificeren	
            </td>
            <td width="193">
               
            </td>
            <td width="191">
            
            </tr>
        <tr height="21">
            <td height="21" width="192">
                Organisation Level
            </td>
            <td width="175">
                Achtergrond van werknemer checken, VOG
              </td>
            <td colspan="2" width="200">
            </td>
            <td width="193">
                Werknemer isoleren
            </td>
            <td width="191">
                Werknemer ontslaan
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Application Level
            </td>
            <td>
                
            <td colspan="2" width="200">
                Logging	
            </td>
            <td width="193">
               
            </td>
            <td width="191">
              
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                System Level
            </td>
            <td width="175">
                Restrictie accounts/privilege's  
             </td>
            <td colspan="2" width="200">
                Monitoren van accounts	
            </td>
            <td width="193">
                Account blokkeren
            </td>
            <td width="191">
                Account verwijderen en organisatie inlichten
                </td>
        </tr>
        <tr height="42">
            <td height="42" width="192">
                Network Level
            </td>
            <td>
               
            </td>
            <td colspan="2" width="200">
                Monitoren van accounts	
            </td>
            <td width="193">
                Source blokkeren
            </td>
            <td width="191">
                Source verwijderen en schade documenteren
            </td>
        </tr>
        <tr height="21">
            <td height="21" width="192">
                Buildings and grounds
            </td>
            <td width="175">
                Na sluitingsuren alles dicht zetten, beveiliging met persoonlijke codes
            </td>
            <td colspan="2" width="200">
                Camera's en alarmen	
            </td>
            <td width="193">
               
            </td>
            <td width="191">
                Politie inlichten
            </td>
        </tr>
    </tbody>
</table>



<h1>CIA and privacy </h1>
<table>
    <tr>
        <td >
            <p >CIAP</p>
        </td>
        <td >
            <p >C</p>
        </td>
        <td >
            <p >I</p>
        </td>
        <td >
            <p >A</p>
        </td>
        <td >
            <p >P</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Account info</p>
        </td>
        <td >
            <p >Condifdential</p>
        </td>
        <td >
            <p >High</p>
        </td>
        <td >
            <p >Important</p>
        </td>
        <td >
            <p >Personal</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Story information</p>
        </td>
        <td >
            <p >Public</p>
        </td>
        <td >
            <p >Medium</p>
        </td>
        <td >
            <p >Required</p>
        </td>
        <td >
            <p >Public</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Comment info</p>
        </td>
        <td >
            <p >Public</p>
        </td>
        <td >
            <p >Medium</p>
        </td>
        <td >
            <p >Not necessary</p>
        </td>
        <td >
            <p >Public</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Authentication</p>
        </td>
        <td >
            <p >Public</p>
        </td>
        <td >
            <p >Guaranteed</p>
        </td>
        <td >
            <p >Essential</p>
        </td>
        <td >
            <p >Personal</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Story creation</p>
        </td>
        <td >
            <p >Confidential</p>
        </td>
        <td >
            <p >High</p>
        </td>
        <td >
            <p >Important</p>
        </td>
        <td >
            <p >Personal</p>
        </td>
    </tr>
    <tr>
        <td >
            <p >Story deletion</p>
        </td>
        <td >
            <p >Confidential</p>
        </td>
        <td >
            <p >Guaranteed</p>
        </td>
        <td >
            <p >Important</p>
        </td>
        <td >
            <p >Personal</p>
        </td>
    </tr>

</table>

<p>Confidentiality</p>
  <p>Niet alle data is confidential. Het is mogelijk om verhalen van andere mensen te kunnen bekijken. Account informatie (in dit geval email en status of het een administrator is) is wel confidential en zal je alleen kunnen zien als je daartoe authorizatie hebt. Dit is om ervoor te zorgen dat aanvallers meer moeite moeten doen. </p>
   
    <p>Integrity</p>
   <p> Gebruiker informatie is belangrijk maar het aanpassen van van verhalen mag nooit worden gedaan door iemand anders behalve een administrator of de schrijver zelfs. Als dit geen garantie is zullen gebruikers nooit hun verhalen op deze website willen zetten. Dit kan daarnaast dan ook nog leiden tot slander of het toevoegen van informatie wat volgens de regels van de website niet mag. </p> 
  
   <p>Availability</p> 
<p>In geval van nood moeten gebruikers/schrijvers altijd hun verhaal of profiel moeten kunnen aanpassen of verwijderen. Als dit niet garant staat kan het zijn dat schrijvers de site niet meer zullen vertrouwen. Het bekijken van verhalen alhoewel wel belangrijks is minder belangrijk dan het aanpassen van het account of verhaal. </p>  
   
    <p>Privacy</p>
    <p>Niet alle data is persoonlijke data maar een gedeelte ervan wel. Dit houdt in dat alle persoonlijke data alleen maag worden opgeslagen als dat het absoluut nodig is en dat het daarnaast volgend de GDPR wet moet worden voldaan  </p>

</div>
</body>