<div class="content"> 
    <h1 class="kopje">Inleiding</h1>
    <p class="tekst"> Op 7-9-2020 heb ik een workshop gekregen over het design van security. In dit document zullen we de volgende onderwerpen bespreken: secure development lifecycle, Zero trust model, devops security by design, how to establish security requirement</p>
    <br>
    <h1 class="kopje">Secure Development Lifecycle</h1>
    <p class="tekst">De secure development heeft meerdere stappen om een veilige lifecycle te maken. Ik zal in dit geval de SDL van microsoft gebruiken als voorbeeld over wat een secure development cycle kan inhouden.
        De Microsoft SDL heeft zeven stappen waarvan ik er vijf zal gaan bespreken. </p>
    
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>(Stap 1) Requirements:</p>
<ul style="list-style-type: undefined;">
    <li>Het maken van Security Requirements.&nbsp;Deze worden gebruikt om te kijken wat er veilig gemaakt moet gaan worden. Dit wordt gedaan door te kijken hoe de beveiliging belangrijk is voor een systeem, wat voor data gebruikt wordt door een systeem, welke user roles er zijn en de CRUD-permissions, de CIA and privacy en Privacy impact Analysis</li>
    <li>Security &amp; Privacy Risk Assessment.</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>(Stap 2) Design</p>
<ul style="list-style-type: undefined;">
    <li>Het maken van Design Requirements</li>
    <li>Threat modeling</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>(Stap 3) Implementation</p>
<ul style="list-style-type: undefined;">
    <li>Het gebruik van Static analysis om code te verbeteren en beveiligen.</li>
    <li>Het gebruik van tools die veilig zijn.</li>
    <li>Het verwijderen van onveilige functies.</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>(Stap 4) Verification</p>
<ul style="list-style-type: undefined;">
    <li>Dynamische analyse</li>
    <li>Fuzz testing</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>(Stap 5) Release</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0cm;list-style-type: undefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Final security review om alles te testen</li>
    </ul>
</div>

 
<img src="./assets/img/microsoftSDL.png" style="width: 100%;">

<h1 class="kopje">Zero Trust Model</h1>
 <p class="tekst">Zero Trust model is een beveiligingsconcept dat gefocust is op het geloof dat organisaties niet automatisch iets binnen of buiten hun organisatie moeten geloven en in plaats daarvan alles moeten verifiëren voordat het toegang kan krijgen tot het netwerk of technologie.  </p>
 <p class="tekst"> De NSIT zorgt ervoor dat alle resources beveiligd kunnen worden gebruikt. Daarnaast dwing je een privilege strategy af waardoor iedereen alleen maar toegang heeft tot zijn eigen sector en niet meer. Deze strategy zal je dan blijven handhaven terwijl je al het verkeer logt zodat je bewust bent wat er gebeurd binnen de organisatie. Daarnaast heeft iedereen alleen het minimum aan informatie dat hij/zij nodig zou hebben.</p>
 

</div>