<body class="body"> 
<div class="content">
    <h2>Reflectie</h2>
    <p>Het verschil tussen wat ik begreep over security bij het begin van de minor en nu is erg groot. Ik heb meer geleerd over hoe je security moet aanpassen en hoe je het moet opzoeken. </p>
    <p>Ook een verschil is de verandering in onderzoek dat ik nu doe. Het is nu automatisch meer gefocust op security dan dat het eerst was. Eerst keek ik naar wat het handigst was voor het project maar nu kijk ik ook nog of het wel veilig genoeg is of er veiligere alternatieve zijn. Deze verandering zorgt er nu voor dat ik eerder veiligere opties pak dan makkelijkere opties.</p>
    <p>Daarnaast heb ik ook nieuwe dingen over security zichzelf geleerd zoals de wetten om privacy heen. In het begin ging had ik een beetje een probleem met privacy aangezien ik toen niet wist dat privacy ook gerelateerd is op opgeslagen informatie in plaats van alleen het weergeven van informatie. Het leren van de Privacy Impact Assessment heeft mij erg geholpen met het beseffen wat allemaal onder privacy valt waardoor ik nu een betere kennis ervan heb.</p>
    <p>Ook met implementeren van code is er nu een verschil. Ik probeer nu zo goed mogelijk logging automatisch toe te passen en daarnaast goede errors te gooien als iets fout gaat. Ik doe dit nu omdat dit ten eerste veiliger is aangezien je nu beter kan zien wat er aan de hand is en ten tweede omdat dit het coderen makkelijker maakt.</p>

    <h2>Overall Evaluatie</h2>
    <p>Ik ben tot nu toe goed bezig geweest met het toepassen van security. Ik heb ook meer geleerd over security en waarom het zo belangrijk is dan dat ik voor de minor kende. Ik weet echter op het moment nog niet alles over security zoals op het gebied van command injection. Om deze reden zal ik hierin nog wat onderzoek moeten toepassen. </p>
    <p>In verband met communicatie vind ik dat ik het goed doe. Ik hoe regelmatig contact met Stephan Vrijssen. Een puntje dat nog beter kan is dat ik wat vaker contact opneem met Casper om door mijn portfolio door te kijken.</p>
    <p>Al in al ben ik goed bezig maar er zijn nog een paar puntjes waar verbetering in mag komen zoals het documenteren van technische skills en deze in de portfolio zetten</p> 

<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
</div>
</body>