<div class="content">
    <h2>Introductie</h2>
    <p>Dit document beschrijft twee security engineering banen met daarnaast de taken en verantwoordelijkheid ervan. Ook zal er worden beschreven welke learning goals en activiteiten hierdoor zijn aangepast of geüpdatet. </p>

    <h2>Security engineer StackOps</h2>
    <p>Als Security Engineer heb je ervaring en kennis van zowel back-end als front-end van applicaties. Samen met een team van security specialisten ga jij strategieën creëren om de juiste principes van beveiliging toe te passen. Je bent nauw betrokken bij het ontwerpen van complexe veilige systemen. Het is een vereist om hierbij creatief na te denken om dit zo veilig mogelijk te krijgen.</p>
    <p>In diverse fasen van de ontwikkeling help jij de teams. Je bent in staat om code reviews uit te doen en zelf pen tests uit te voeren. Daarnaast ben je gedreven genoeg om andere te begeleiden bij het overnemen van deze skills. Het is een doel om te streven naar compliance en daarom is kennis van security event en monitoring nodig.</p>
    <p><b>Wie ben je?</b></p>
    <ul>
        <li>	Je bent een engineer met een afgeronde Bachelor in Computer Science of vergelijkbaar;</li>
        <li>	Je hebt een achtergrond in software;</li>
        <li>	Je hebt ervaring met pentesten op voornamelijk applicatie gebied;</li>
        <li>	Ervaring met security monitoring;</li>
        <li>	Ervaring met Code-reviews (Python en Shell);</li>
        <li>	Ervaring in Agile of scrum.</li>
    </ul>
    <p><b>Wat mag je verwachten?</b></p>
    <p>- Een salarisindicatie van €4000,- tot €5500,- euro;</p>
    <ul>
        <li>Flexibele uren;</li>
        <li>	Remote thuis werken;</li>
        <li>Interne doorgroei mogelijkheden;</li>
        <li>	Een leuk en hecht team waarmee je dagelijks kunt samenwerken</li>
    </ul>

    <h2>Offensive security engineer Klarna</h2>
    <p><b>You are a hacker. You love breaking stuff. You are also an engineer. We want to give you the freedom to work across the offensive space where it provides the most value.  </b></p>
    <p><b>What you'll get to do  </b></p>

    <ul>
        <li>Break all the things.</li>
        <li>	Conduct white-box and black-box penetration testing against internal and public-facing applications and assets.</li>
        <li>	Manage, triage, and investigate Bug Bounty submissions and external pentest findings.</li>
        <li>	Perform variant analysis on issues discovered through all channels.</li>
        <li>	Research and perform security analyses on Klarna’s 3rd-party solutions.</li>
        <li>	Develop tooling to support reconnaissance, automation, and metrics collection.</li>
        <li>	Provide expert guidance to developers, other product security teams, and the SOC in investigating issues.</li>
        <li>	Spread awareness of offensive security practices via demos, workshops and training.</li>
        <li>	Assess the security of our tech stack through whatever means are best suited.</li>
        <li>	Define what we focus on to provide the most value.</li>
        <li>	Help further mature Klarna’s security program.</li>
    </ul>

    <p><b>Some of the technologies you'll get to work with </b></p>
    
    <ul>
        <li>Python or Node.js</li>
        <li>AWS</li>
        <li>We also believe in contributing back to the open-source community. You can find some of our work here https://github.com/klarna.</li>
    </ul>

    <p><b>To succeed in this role, we think you should have/be</b></p>
    <ul>
        <li>Strong experience with penetration testing and other technical security assessments.</li>
        <li>	Experience identifying security issues in code, particularly within Java and Node.js</li>
        <li>	Experience with cloud environments, particularly AWS and modern micro-service design principles.</li>
        <li>	Comfortable communicating findings clearly and effectively, with concrete remediation recommendations beyond simple issue reporting.</li>
        <li>	Comfortable scripting and contributing to larger projects in Python.</li>
        <li>	Able to take initiative and be comfortable taking on projects that contribute to the larger security culture and posture at Klarna.</li>
        <li>	Industry recognised certifications, e.g. OSCP, OSWE, CREST, GIAC, AWS, et. al.</li>
        <li>	CTF Participation and active contributions to the cybersecurity community.</li>
    </ul>    

    <h2>Wat is er veranderd in de learning goals</h2>
    <p>De banen die hierboven worden beschreven hebben vooral een focus op beveiliging en in dit geval Java. Bij beide banen wordt er gevraagd of ervaring hebt met Python. Doordat ik dit niet heb zou een nieuw mogelijk leerdoel zijn het maken zijn van een klein script dat iets uitvoert. Ook zou in dit geval er kunnen worden gekeken naar onderzoek over Python</p>
    <p>De baan bij Stackops focust meer op defensief beveiligen waardoor het volgende leerdoel moet worden toegevoegd: Onderzoek doen naar security monitoring.</p>
    <p>De baan bij Klarna is meer gefocust op het offensief verdedigen. Ze vragen om actief de applicatie af te sporen en de vulnerabilities te vinden en te documenteren. Ze lijken erg gefocust te zijn op Python en Node.js. Mogelijke leerdoelen hiervoor zijn onder andere:</p>
    <ul>
        <li>    Onderzoek best practices of pentesting</li>
        <li>	Onderzoek programma’s voor reconnaissance, automation en metric collecties.</li>
        <li>	Onderzoek bug bounty’s en geef een paar voorbeelden</li>
    </ul>




</div>