<div class="content" >

    <h2>Inleiding</h2>
    <p>In dit document zijn de belangrijkste punten van de individuele ethische analyses gecombineerd tot één samenvatting. De uitgebreide individuele analyses zijn te vinden in Canvas.</p>

    <h2>Hateful & criminal actors</h2>
    <p>Data kan door een criminal actor gebruikt worden om zichzelf voor te doen als een ander en zo bijvoorbeeld toegang te kunnen krijgen tot een gebied zonder negatief testresultaat.
        Data kan worden gemanipuleerd om iemand een positief of negatief resultaat te geven en deze persoon zo in de problemen te brengen. Ten slotte kan data ook gemanipuleerd worden om een eigen politieke agenda af te dwingen. Zo kan een criminal actor bijvoorbeeld het aantal besmettingen vergroten of verkleinen en zo het spreiden van het virus beïnvloeden.
        </p>
        
    <h2>Impact on Society</h2>
    <p>Het doel van het systeem is het voor de samenleving gemakkelijker maken om gevoelige data snel te kunnen delen, op een veilige manier. Hierdoor kunnen zaken als festivals en discotheken mogelijk blijven draaien. Zo kan dit systeem helpen met het draaiende houden van de economie, waarbij het spreiden van het virus onder controle blijft. Het kan daarentegen wel leiden tot buitensluiten van mensen die om bepaalde redenen de COVID-19 sneltest niet uitvoeren, wanneer winkels of andere bedrijven gaan eisen voor een sneltestresultaat.</p>
    
    <h2>Privacy, surveillance state & data control</h2>
    <p>In het geval dat de overheid toegang heeft tot deze data, kan het zijn dat de overheid dit gebruikt om gebruikers te analyseren en conclusies te trekken uit patronen.
        Volgens de GDPR is de data special personal data. Data wordt zover mogelijk geanonimiseerd opgeslagen, waardoor deze niet tegen specifieke personen gebruikt kan worden. Ook is er op dit moment geen verdienmodel gekoppeld aan de data en wordt data dus niet verkocht aan derde partijen.</p>

    <h2>Human values, implicit trust & inclusivity</h2>
    <p>
    Belangrijke waardes van gebruikers zijn vertrouwen en betrouwbaarheid. Een gebruiker zal niet willen dat iedereen kan zien dat hij/zij besmet is of is geweest. De ontwikkelaars moeten volledig transparant zijn over wat ze doen en wat er gebeurt met de gegevens. Dit betekent dat de algemene voorwaarden helder en duidelijk beschreven moeten zijn.
    Iedereen heeft toegang tot de app en iedereen beleeft hier voordelen van.
    </p>

    <h2>Future impact</h2>
    <p>In de toekomst kan het zo zijn dat met behulp van dit systeem de economie toch nog draaiende kan blijven zonder COVID-19 veel te verspreiden. Wetgeving vanuit Nederland of de EU kan in de toekomst veranderen, waardoor het systeem wellicht anders met privacy om zal moeten gaan.
    </p>



</div>