<html> 
<body class="body">
    <div class="content"> 
    <h1>Red/Blue Team Event 2</h1>
    <p>Voor het evenement had ik een applicatie opgezet dat kan inloggen, registreren, account details kon aanpassen en een verhaal met één hoofdstuk kon maken. Deze applicatie is tijdens het event getest en de resultaten zul je hieronder vinden. Ik zal daarnaast ook nog beschrijven wat mij is opgevallen tijdens het evenement.</p>
    <p>De volgende red teamers hebben mijn applicatie getest:
        Alain de Vrij, Berend Baardse, Ivan Rimbow, Jeroen Martinus, Jesse van Eeklen, Joep van Antwerpen en Mustafa Kaptan.</p>
        <p>Voor een diepere uitleg wat de red teamers hebben gedaan zie het volgende document dat de redteamers hebben samengesteld:  RedvsBlue_Team 2 Pentest Report.pdf</p>   
   
   <h2>Problemen voor het evenement dat bekend waren</h2>
   <p>Het was bij mij bekend dat recaptcha het niet deed op de test omgeving. De reden hiervoor was omdat ik recaptcha nog net te werk had kunnen brengen voordat het evenement begon maar ik had nog geen tijd om het te testen op de testomgeving. Om deze reden was recaptcha niet aanwezig tijdens het evenement.</p>
   <h2>Problemen gevonden door red teamers</h2>
   
  
<p> Geen minimum aan wachtwoord characters</p>
<p>Geen 2fa</p>
<p> Geen maximum login count</p>
<h2>Problemen gevonden door Roel Lucassen</h2>
<p>Bepaalde logs kwamen zo vaak voor dat je soms belangrijkere logs miste.</p>

<h2>To Do</h2>
<p> 
<ul>
    <li><p> Geef een minimum aan wachtwoord characters (minimum wordt 5) </p></li>
    <li><p> Voeg 2fa toe</p></li>
    <li><p>Voeg een maximum login count</p></li>
    <li><p>Maak de logs wat beter om te lezen</p></li>
  </ul>
  
   </div>
   </body>
   </html>