<html>

<body>
		<header class="header">
			<div class="header__inner">
				
				<h1 class="header__title">
					Leerplan documenten
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
       
		<div class="projects">
		
            <a routerLink="/leerplanning" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="leerplan">
					<div class="project_title">
						leerplan
					</div>
					<div class="project_description">
						In dit leerplan staat de planning en de doelen die ik dit semester wil bereiken.
					</div>
				</div>
            </a>
            
			<a routerLink="/jobs" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Security banen
					</div>
					<div class="project_description">
						Een paar voorbeelden van security banen en interesses
					</div>
				</div>
			</a>

            <a routerLink="/ontwikkeling1" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="leerplan">
					<div class="project_title">
						Persoonlijke ontwikkeling 
					</div>
					<div class="project_description">
						Persoonlijke ontwikkeling van 10-11-2020
					</div>
				</div>
            </a>
			
		</div>
		
    </div>
</body>

    </html>