<div class="content">


<h2>Inleiding</h2>
<p>Ons team ontwikkelt een teststraat voor de corona-sneltesten van Spektrax. De technische onderdelen worden door twee stagiaires gemaakt en wij zijn verantwoordelijk voor het samenvoegen van deze onderdelen met de teststraat en voor security consulting aan de stagiaires. </p>
<p>In dit document wordt onderzocht of we gebruik kunnen maken van het BSN nummer van een gebruiker. Het onderzoek wordt op basis van het Development Oriented Triangulation (DOT) framework uitgevoerd.</p>
<p>DOT Research Methods:
   - Community research
   - Expert interview (Stephan Vrijssen)
</p>

<p>Hoofdvraag:  <br>
    <i>Mag Spektrax gebruik maken van het BSN nummer service voor identificatie?</i>
</p>
<p>Deelvragen</p>
<ul>
    <li><i>Is een BSN een bijzonder persoonsgegeven? </i> <br>
        Voor deze deelvraag gebruiken wij de onderzoeksmethoden community research en expert interview omdat we zelf een groot gedeelte van informatie zelf kunnen uitzoeken maar dat moet door een expert worden geverifieerd.
        </li>
    <li><i>Wie mogen gebruik maken van het BSN?</i> <br>
        Voor deze deelvraag gebruiken wij de onderzoeksmethode literature study omdat wij de wetgeving moesten bestuderen om uit te vogelen wie gebruik mag maken van het BSN.
        </li>
    <li><i>Welke wet bepaald wanneer je een BSN nummer kan gebruiken? </i> <br>
        Voor deze deelvraag gebruiken wij de onderzoeksmethoden literature study en expert interview. De literature study is nodig omdat wij de wetgeving moesten bestuderen en de expert interview is om vragen te stellen over specifieke wetten.
        </li>
</ul>

<h2>Is een BSN een bijzonder persoonsgegeven? </h2>
<p>De AVG ziet deze persoonsgegevens als bijzondere persoonsgegevens:
    <ul>
        <li>persoonsgegevens waaruit ras of etnische afkomst blijkt;        </li>
        <li>persoonsgegevens waaruit politieke opvattingen blijken;</li>
        <li>persoonsgegevens waaruit religieuze of levensbeschouwelijke overtuigingen blijken;</li>
        <li>persoonsgegevens waaruit het lidmaatschap van een vakvereniging blijkt;        </li>
        <li>gegevens over iemands gezondheid</li>
        <li>gegevens over iemands seksueel gedrag of seksuele gerichtheid;</li>
        <li>genetische gegevens;</li>
        <li>biometrische gegevens met het oog op de unieke identificatie van een persoon</li>
    </ul>
  <p>  De BSN is geen bijzonder persoonsgegeven. In de Uitvoeringswet AVG (UAVG) wordt het BSN niet als bijzonder persoonsgegeven aangemerkt. Wel mogen de Europese lidstaten onder de AVG zelf voorwaarden stellen aan het verwerken van een nationaal identificatienummer, zoals het BSN.
</p>
<p><b>Informatie binnen het juridische bestand over het verwerken van persoonsgegevens</b></p>
<p>De verwerkingsverantwoordelijke is de persoon of de onderneming die (alleen of samen met anderen) het doel van en de middelen voor de verwerking van persoonsgegevens vaststelt. Op grond van artikel 24 AVG moet de verwerkingsverantwoordelijke passende technische en organisatorische maatregelen treffen om te waarborgen en te kunnen aantonen dat de verwerking in overeenstemming met de AVG wordt uitgevoerd. Zou de commerciële partij een ander bedrijf (of natuurlijk persoon) inschakelen om de persoonsgegevens daadwerkelijk te verwerken, dan is dat andere bedrijf een verwerker in de zin van artikel 4 sub 8 AVG. Tussen hen dient dan een verwerkersovereenkomst te worden gesloten op grond van artikel 28 AVG. In deze overeenkomst worden de volgende aspecten vastgelegd:  </p>
<ul>
    <li>onderwerp en duur van de verwerking</li>
    <li> aard en doel van de verwerking </li>
    <li>soort persoonsgegevens</li>
    <li>categorieën van betrokkenen bij de verwerker</li>
    <li>dat de verwerker de persoonsgegevens alleen verwerkt onder de schriftelijke instructies van de verwerkingsverantwoordelijke</li>
    <li>dat de verwerker waarborgt dat de toegang tot de persoonsgegevens is beperkt tot gemachtigde personen (voor deze personen moet een geheimhoudingsplicht gelden ogv wet of overeenkomst)      </li>
    <li> dat de verwerker minimaal hetzelfde niveau van beveiliging van persoonsgegevens hanteert als de verwerkingsverantwoordelijke </li>
    <li>dat de verwerker de verwerkingsverantwoordelijke alle mogelijke ondersteuning biedt bij het nakomen van diens verplichtingen met het oog op de beantwoording van verzoeken rondom de rechten van betrokkenen</li>
    <li>dat de verwerker de verwerkingsverantwoordelijke bijstaat bij het nakomen van diens verplichtingen op het gebied van de beveiliging van persoonsgegevens en de meldplicht datalekken</li>
    <li>dat de verwerker na beëindiging van de overeenkomst de in opdracht van de verwerkingsverantwoordelijke verwerkte persoonsgegevens wist of teruggeeft, en bestaande kopieën verwijdert</li>
    <li>dat de verwerker de verwerkingsverantwoordelijke alle informatie ter beschikking stelt die nodig is om aantoonbaar te maken dat de verplichtingen op grond van de AVG rondom het inzetten van een verwerker worden nageleefd en die nodig is om audits mogelijk te maken </li>
    <li>dat de verwerker afspraken met betrekking tot subverwerkers maakt.</li>
</ul>
<p>Deze aandachtspunten gelden niet alleen voor de testuitslag, maar ook voor de persoonsgegevens die verwerkt worden bij het aanmaken van het account in de app.</p>
<p><b>Wie mogen gebruik maken van de BSN</b></p>

<p>Overheid<br>
    Overheidsorganisaties mogen het burgerservicenummer (BSN) gebruiken om hun taak uit te voeren. Maar dat mag alleen als de BSN hierbij noodzakelijk is. Dat is onder meer zo als er een concrete vraag is over je persoonlijke situatie.
    </p>
<p>Niet overheid <br>
    Organisaties buiten de overheid mogen het BSN alleen gebruiken als dit in een specifieke wet is bepaald. En alleen voor het specifieke doel dat in de wet staat omschreven. Het is dus mogelijk om gebruik te maken van een BSN zolang we het volgens een wet kunnen verantwoorden.
    </p>


<h2>Welke wet bepaald wanneer je een BSN nummer kan gebruiken?</h2>
<p>Artikel 46 van de Uitvoeringswet AVG (UAVG) regelt dat een nummer dat ter identificatie van een persoon bij wet is voorgeschreven, bij de verwerking van persoonsgegevens alleen gebruikt mag worden ter uitvoering van die wet, dan wel voor doelen bij de wet be</p>
<p>Door middel van een expert interview zijn wij erachter gekomen dat Spektrax de BSN nummer wel mogen verwerken, tenzij er een andere optie is die minder gevoelige gegevens eist. De BSN nummers mogen dan ook echter alleen worden gebruikt om de identiteit van gebruikers te identificeren. </p>

<h2>Conclusie</h2>
<p>Het is mogelijk om de BSN te gebruiken zolang het alleen wordt gebruikt om een gebruiker te identificeren. Wordt deze voor andere doeleinden gebruikt is dit waarschijnlijk een overtreding van de wet. Omdat BSN nummers heel gevoelig zijn, raden wij aan om alleen de laatste 5 cijfers te gebruiken samen met voor en achternaam te gebruiken voor het identificeren van gebruikers. Hierdoor zijn de opgeslagen gegevens iets minder gevoelig en is het gebruik daarvan beter te verantwoorden</p>



</div>