<p>groupproject works!</p>
<html>

<body>
		<header class="header">
			<div class="header__inner">
				
				<h1 class="header__title">
					Security Portfolio
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
       
		<div class="projects">
		
			
			<a routerLink="/groupanalyse" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Group analyse
					</div>
					<div class="project_description">
						Hierin staan alle analyse documenten
					</div>
				</div>
            </a>

            <a routerLink="/groupresearch" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Group research
					</div>
					<div class="project_description">
						Hierin staan alle research documenten
					</div>
				</div>
            </a>

            <a routerLink="/jobs" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/plan.png" alt="Workshop pt1">
					<div class="project_title">
						Group research
					</div>
					<div class="project_description">
						Hierin staan alle vindingen van security aspects over de stage leerlingen.
					</div>
				</div>
            </a>
        
			
			
			
		</div>
		
    </div>
</body>

    </html>