<body class="body">
    <div class="content">
        <h1>Peer Reviews</h1>
        <p>Onze groep heeft peer reviews van elkaar gemaakt tijdens sprint 1, 2 en 3. Ik zal deze peer reviews een voor een laten zien en dan beschrijven wat ik heb veranderd en wat ik heb blijven doen. Doordat de reviews anoniem zijn weet ik niet wie wat heeft geschreven.</p>
        <h2>Sprint 1</h2>
        <p style="margin-bottom: 0px;">Tijdens de peer review van sprint 1 zijn er een paar puntjes naar boven gekomen wat ik moest gaan verbeteren. Deze punten waren als volgt:</p>
        <p style="margin-top: 0px;">1. Ik vergeet soms het maken van een template voor een document. Hierdoor was ik vaak wat extra tijd kwijt. <br>
           2. Ik werkte soms een beetje op de achtergrond. Ik gaf wat minder snel mijn mening.
        </p>
        <p style="margin-bottom: 0px;">Punten die ik aan zou moeten houden volgens de peer review: </p>
        <p style="margin-top: 0px;">1. Mensen goed op focus houden. <br>
           2. Proberen iets minder te laat te komen(dit is echter moeilijk in verband met een fysieke aandoening)
        </p>
        <p>Deze sprint heeft me laten zien wat ik zou moeten gaan verbeteren. </p>
        <img src="../../assets/img/peerreview1.png">
      
        <h2>Sprint 2</h2>
        <p>Tijdens sprint 2 is het me gelukt om een van de verbeterpunten te halen. Namelijk het maken van templates voor documenten. Dit heeft ook gedeeltelijk te maken dat het kwam doordat Stephan Vrijsen begon met het bespreken over hoe je moest documenteren.</p>
        <p style="margin-bottom: 0px;">De volgende punten konden echter nog verbeterd worden:        </p>
        <p style="margin-top: 0px;">1. Nog steeds soms wat stil soms. <br>
           2. Ben nog steeds soms wat te laat    
        </p>
       <img src="../../assets/img/peerreview2.png">
        <h2>Sprint 3</h2>
        <p>Tijdens sprint 3 is het me gelukt om meer op tijd te komen. Dit heeft meer te maken dat er meer thuis werd gewerkt. Afgezien hiervan vond ik van mezelf dat ik iets afweziger was dan normaal. Ik denk persoonlijk dat het te maken had met de chronische vermoeidheid. Hiernaast vind de rest van mijn groep dat ik goed heb gewerkt.</p>
        <img src="../../assets/img/peerreview3.png">
    </div>
</body>