<html>

<body>
		<header class="header">
			<div class="header__inner">
				<img class="header__logo" src="./assets/img/plan.png" style="border-radius: 50%;height: 90px;" alt="MieskeB">
				<h1 class="header__title">
					Roel Lucassen
				</h1>
			</div>
		</header>
		<div class="under_header"></div>
        <div class="project-info">
        <p class="subtitle">
			Mijn naam is Roel Lucassen en welkom bij mijn portfolio van semester 6.
		</p>
		<div class="projects">
		        
            <a routerLink="/secureportfolio" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/cybersecurity.png" alt="security_Engineering">
					<div class="project_title">
						Security Engineering
					</div>
					<div class="project_description">
						Hier ga je naar een pagina waar alle informatie en onderzoeken staan die te maken heeft met Cyber Engineering.
					</div>
				</div>
			</a>

			<a routerLink="/groupportfolio" routerLinkActive="active">
				<div class="project float">
					<img class="project_icon" src="./assets/img/cybersecurity.png" alt="security_Engineering">
					<div class="project_title">
						COVID19 Project
					</div>
					<div class="project_description">
						Hier ga je naar een pagina waar alle informatie en onderzoeken staan die te maken heeft met Cyber Engineering.
					</div>
				</div>
			</a>
			
			
			
		</div>
		
    </div>
</body>

    </html>