<div class="content"> 
    <h1 class="kopje">Inleiding</h1>
    <p class="tekst">In dit document zal je het leerplan van Roel Lucassen zien. Dit leerplan is wat Roel Lucassen wil gaan leren dit semester. Het is mogelijk dat de doelen die hier zijn beschreven en de actuele doelen die Roel Lucassen heeft gedaan kunnen verschillen in verband met deviaties.</p>
    <p class="tekst">De leerplan zal uit twee gedeeltes bestaan:</p>
    
    <ul style="list-style-type: disc;">
        <li>Wie ben ik</li>
        <li>De doelen</li>
    </ul>
    <p class="tekst">De doelen zijn punten die Roel Lucassen wil onderzoeken of ervaring mee wilt opdoen. Deze doelen hebben te maken met security engineering en een groot deel zal advies zijn van Fontys. De doelen zullen worden beschreven doormiddel van een must/should have lijst met daarnaast additionele kopjes met gerelateerde onderwerpen.&nbsp;</p>
    <p class="tekst">De planning zal bestaan uit een tijdsch
        ema waar meerdere doelen in zijn beschreven met daarnaast algemene doelen van Fontys en mogelijke interesses gerelateerd tot security engineering.</p>
    
    <h1 class="kopje">Wie ben ik</h1>
    <p class="tekst">Mijn naam is Roel Lucassen. Ik ben een derde jaar student aan de Fontys en ik heb gekozen voor security engineering. Ik zat te twijfelen tussen red teaming and security engineering maar dacht toen dat ik security engineering toch wat leuker zou vinden dus heb ik daar voor gekozen.</p>
    <p class="tekst">In de toekomst wil ik iets gaan doen met software bij de politie of het leger. Ik ben nog niet 100% zeker of ik cybersecurity wil doen of software. In ieder geval ben ik meer ge&iuml;nteresseerd in het voorkomen van cyberleks dan het verdedigen hiertegen.&nbsp;</p>
    
    <h1 class="kopje">De doelen</h1>
    <p class="tekst">Hieronder staan interesses, onderwerpen en opdrachten waar ik dit semester aan wil gaan werken.</p>
    <p class="tekst">&nbsp;</p>
    <p class="tekst">Must have</p>
    <table style="border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td class="tdclass">
                    <p class="goals">1.</p>
                </td>
                <td class="lines">
                    <p class="goals">Hoe schrijf je een verslag en rapporteer dit.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">2.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Onderzoek security engineering banen en documenteer</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">3.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Het maken van een abuse case van de R&amp;D project</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">4.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Bestudeer en implementeer standaard security principes.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">5.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Leer syntax en de opties van regular expressions en pas deze toe op een test-applicatie.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">6.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Voer een AES operatie handmatig uit en rapporteer dit. Zie cryptografie voor meer informatie.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">7.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Implementeer data encryptie op applicatie level code. Documenteer welke encryptie, waarom de encryptie, waarom niet de andere encryptie, hoe je het hebt ge&iuml;mplementeerd en een voorbeeld.&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">8.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Leer de basis van RSA public cryptography. Maak een document/link naar cryptografie en bestudeer dit en documenteer de vindingen.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">9.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Voeg security logging toe aan de applicatie, implementatie en tests.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">10.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Maak gebruik van een static code review analysis tool.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">11.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Bestudeer de code van een open source app. Voeg hierop static code analyse als handmatige analyse.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">12.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Bestudeer een veilige omgeving (server environment bijvoorbeeld) en rapporteer wat je hebt gevonden.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">13.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Voeg fuzzy tests toe aan de R&amp;D applicatie.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">14.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Apply all security by design steps and techniques in your R&amp;D project:</p>
                    <p class="goals">- gather and discuss security requirements&nbsp;</p>
                    <p class="goals">- define security threats for the system to develop and perform a risk analysis.</p>
                    <p class="goals">- put the threats in a secure design through misuse cases.</p>
                    <p class="goals">- work out security controls to limit the threats in your misuse cases</p>
                    <p class="goals">- implement the security controls</p>
                    <p class="goals">- test the security controls by developing test cases for the threats.&nbsp;Add fuzzing tests.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">15.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Pick an IT application or service to develop to be able to learn and apply all security engineering aspects. Pick an application that needs security and that could be an actual operational environment, e.g. a CTF platform, an information system for a SOC, a web platform thats stores sensitive or confidential data, etc. Give a general description of the application in your portfolio: main functionality, users and user groups, global system architecture.&nbsp;</p>
                    <p class="goals">Install one or more server in your personal seclab account for development and testing of this very secure application. This server environment will be used for the Red Team - Blue Team event where the security of your application is tested (Red Team) and monitored (Blue Team).</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">&nbsp;</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="tekst">&nbsp;</p>
    <p class="tekst">Red Team Vs Blue Team week 8</p>
    <table style="border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td class="tdclass">
                    <p class="goals">1.</p>
                </td>
                <td class="lines">
                    <p class="goals">Maak voor week 8 een applicatie die kan worden gebruikt voor het event.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">2.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Noteer feedback en fix bugs die zijn gevonden bij de applicatie.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">3.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Implementeer &nbsp; &nbsp; ontwikkelde systeem (applicatie (s), servers, tooling, netwerkfunctionaliteit) in een operationele testomgeving. Configureer de systeem- en toepassingslogboeken voor verzending naar een centrale logboekserver of SIEM-server in de gecombineerde testomgeving. Vraag de blue teaming-studenten of ze de logs kunnen ontvangen.</p>
                </td>
            </tr>
            <tr>
                <td class="smaller_lines">
                    <p class="goals">4.</p>
                </td>
                <td class="bigger_lines">
                    <p class="goals">Vraag hulp in verband met verbeteringen aan de blue team studenten.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="tekst">&nbsp;</p>
    <p class="tekst">Onderzoek van interesses in verband met security engineering</p>
    <table style="border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 28.1pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">1.</p>
                </td>
                <td style="width: 425pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek fuzzy tests.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">2.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Bestudeer hoe je goed security rapporten kunt schrijven.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">3.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek cryptografie.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">4.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek logging.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">5.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek hoe je veilig loggings naar een logserver kan doorsturen.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">6.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek hoe je een logserver opzet.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">7.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Bestudeer maatregelen tegen social engineering.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">8.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek het CAPTCHA mechanisme.</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">9.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Onderzoek ethisch hacken.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="tekst">&nbsp;</p>
    <p class="tekst">Workshop:</p>
    <table style="border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 28.1pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">1.</p>
                </td>
                <td style="width: 425pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Bezoek en rapporteer Computer Forensics</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">2.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Bezoek en rapporteer Network Forensics</p>
                </td>
            </tr>
            <tr>
                <td style="width: 28.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">3.</p>
                </td>
                <td style="width: 425pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;">
                    <p class="goals">Bezoek en rapporteer Reverse Engineering</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="tekst">&nbsp;</p>
    <p class="tekst">&nbsp;</p>
    </div>